{% extends "base.html" %}

{% block title %}首页-MiniBlog
{% endblock %}
{% block styles%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/blogs_list.css">
{% endblock %}
{% block content %}
<div class="container">
	<div class="col-md-9">
		<div class="page-header">
			<h1>welcome to miniblog!</h1>
		</div>
		<ul class="blog_list">
			{% for blog in blogs %}
			<li>
				<div class="author">
					<a class="avatar" target="_blank" href="">
						<img src="{{ blog.author.avatar }}">
					</a>
					<div class="info">
						<a class="nickname" target="_blank" href="">
							{{ blog.author.nickname }}
						</a>
						<span class="time">{{ blog.create_at }}</span>
					</div>						
				</div>
				<a class="title" target="_blank" href="{{ url_for('blog', blog_id = blog.id)}}">{{ blog.title }}</a>
				<p class="abstract">{{ blog.body }}</p>
				<div class="meta">
					<a class="tag" target="_blank" href="#">{{ blog.tag }}</a>
					<a target="_blank" href="">阅读:{{ blog.read_times }}</a>
					<a target="_blank" href="">评论:{{ blog.comments.count() }}</a>
					<a target="_blank" href="">点赞:{{ blog.like }}</a>
				</div>
			</li>
			{% endfor %}
		</ul>
		<div class="pagination">
			{{ macros.pagination_widget(pagination,'.index') }}
		</div>
	</div>
	<div class="col-md-3">
		<div class="page-header">
			<h1>friendly links</h1>
		</div>
		<ul class="friendly_links">
			{% for link in links %}
			<li><a target="_blank" href="{{ link.url }}">{{ link.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}