<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>登录-Micblog</title>
	<link rel="shortcut icon" href="/static/img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
	<div class="container">
		<div class="logo"><a href="{{ url_for('index') }}"><img src="/static/img/logo.png"></a></div>
		<div class="login-page">
			<header class="header"><h1>登 录</h1></header>
			<form class="form" method="post">
				{{ form.hidden_tag() }}
				{{ form.email(placeholder="邮箱") }}
				{% for error in form.errors.email %}<p class="error">* {{ error }}</p>{% endfor %}
				{{ form.password(placeholder="密码") }}
				{% for error in form.errors.password %}<p class="error">* {{ error }}</p>{% endfor %}
				<button type="submit">登录</button>
				<p class="message">还没有账户？ <a href="{{ url_for('sign_up') }}">立刻注册</a></p>
			</form>
		</div>
	</div>
</body>
</html>