{% extends "base.html" %}
{% block title %}我的评论{% endblock %}
{% block content %}
<div class="container">
	<table class="table table-striped">
		<caption>我的评论列表</caption>
		<thead>
			<tr>
				<th>摘要</th>
				<th>所在博客</th>
				<th>评论时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{% for comment in comments %}
			<tr>
				<td>{{ comment.body }}</td>
				<td>
					<a target="_blank" href="{{ url_for('blog', blog_id = comment.post.id) }}" >
					{{ comment.post.title }}
				    </a>
				</td>
				<td>{{ comment.create_at }}</td>
				<td>
					<a href="{{ url_for('delete_mycomment', comment_id = comment.id) }}" onclick="return confirm('确定删除?')">删除</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="pagination">
		{{ macros.pagination_widget(pagination,'.mycomments') }}
	</div>
	<br>
</div>
{% endblock %}