{% extends "base.html" %}

{% block title %}个人信息-MiniBlog
{% endblock %}

{% block content %}
<div class="container">
	<div>
		<ol class="breadcrumb">
			<li class="active">个人信息</li>
		</ol>
	</div>
	<div>
		<div style="float: left;">
			<img src="{{ user.avatar }}" style="height: 250px;margin-right: 40px;" class="img-thumbnail">
		</div>
		<div style="padding-top: 20px;line-height: 1.5;">
			<h1 style="font-size: 30px; font-weight: 700">{{ user.nickname }}</h1>
			<p>邮箱: {{ user.email }}</p>
			<p>简介: {{ user.about_me }}</p>
			<a class="btn btn-default" href="{{ url_for('edit_avatar', user_id = user.id) }}">修改个人头像</a>
			<a class="btn btn-default" href="{{ url_for('update_profile', user_id = user.id) }}">编辑个人档案</a>
		</div>
	</div>
</div>
{% endblock %}