{% extends "base.html" %}

{% block title %}写博客-MiniBlog
{% endblock %}

{% block content %}
<div class="container">
	<div>
		<ol class="breadcrumb">
			<li><a href="{{ url_for('index') }}">主页</a></li>
			<li class="active">写博客</li>
		</ol>
	</div>
	<form method="post" class="form" style="width: 620px;">
		{{ form.hidden_tag() }}
		{% for error in form.errors.title %}<span style="color: red;">{{ error }}</span>{% endfor %}
		<div class="form-group">
			<label>标题:</label>
			{{ form.title(class="form-control") }}
		</div>
		<div class="form-group">
			<label>内容:</label>
			{{ form.body(class="form-control", rows='10') }}
		</div>
		<div class="form-group">
			<label>标签:</label>
			{{ form.tag(class="form-control") }}
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-success">发布</button>
		</div>
	</form>
</div>
{% endblock %}